*[class^="text"] {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
.text {
    &__banner {
        @include texto(18px, $white, 22px);
        margin-bottom: 60px;
        @include breakpoint(desktop) {
            font-size: 30px;
            line-height: 32px;
            margin-bottom: 70px;
        }
    }
    &__bemVindo {
        @include texto(16px, $gray-4, 25px);
        @include breakpoint(tablet) {
            width: 75%;
        }
    }
    &__cardbemVindo {
        @include texto(16px, $gray-4, 25px);
        text-align: center;
    }
    &__profissao {
        @include texto(16px, $gray-4, 25px);
        text-align: center;
        margin-bottom: 10px;
    }
    &__desc {
        @include texto(16px, $gray-4, 25px);
        margin: 15px 0 30px;
    }
    &__contact {
        a {
            @include texto(16px, $black, 25px);
        }
    }
    &__endereco {
        @include texto(16px, $black, 25px);
        text-align: center;
    }
    &__prof-page {
        @include texto(16px, $gray-4, 25px);
        text-align: center;
    }
    &__blogs {
        @include texto(12px, $gray-4, 20px);
        margin-top: 20px;
        @include breakpoint(tablet) {
            line-height: 25px;
            margin-top: 50px;
            font-size: 16px;
        }
    }
    &__blog-page {
        @include texto(12px, $gray-4, 20px);
        @include breakpoint(tablet) {
            font-size: 14px;
        }
    }
    &__descEventos {
        @include texto(16px, $white, 25px);
        // margin: 15px 0 30px;
    }
    &__especialidades-page {
        @include texto(16px, $gray-4, 25px);
        padding: 20px 35px;
        transition: $ease-0;
        @include breakpoint(tablet) {
            width: 100%;
            padding: 60px 0 20px;
        }
    }
    &__profissao {
        @include texto(16px, $gray-4, 25px);
    }
    &__quemSomos {
        @include texto(16px, $gray-4, 25px);
        padding: 0 40px 30px;
        @include breakpoint(desktop) {
            padding: 0;
            font-size: 14px;
        }
        @include breakpoint(hd) {
            font-size: 16px;
        }
    }
    &__blogHome {
        @include texto(16px, $white, 25px);
        margin-bottom: 30px;
        font-weight: 700;
        text-transform: uppercase;
        @include breakpoint(tablet) {
            margin-bottom: 15px;
        }
        @include breakpoint(desktop) {
            margin-bottom: 25px;
        }
    }
}
