.bemVindo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 10% 15%;
  .infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
    .svg {
      width: 80px;
      height: 80px;
      margin: 25px 0 50px;
    }
  }
  .cards {
    justify-content: center;
    &__content {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 55px;
      .svg {
        width: 90px;
        height: 90px;
        opacity: 1;
      }
      &:first-child {
        .btn__cardbemVindo {
          background-color: $color-7;
        }
      }
      &:nth-child(2) {
        .btn__cardbemVindo {
          background-color: $color-6;
        }
      }
      &:last-child {
        .btn__cardbemVindo {
          background-color: $color-1;
          color: $black;
        }
      }
    }
  }
  @include breakpoint(tablet) {
    padding: 10% 0;
    .infos {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 25px;
      .svg {
        order: 3;
        height: 100%;
        width: 20%;
        max-width: 165px;
        max-height: 165px;
        margin: 0;
      }
    }
    .cards {
      justify-content: space-between;
      &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
      }
    }
  }
  @include breakpoint(desktop) {
    padding: 5% 0;
    .infos {
      margin-bottom: 75px;
    }
    .cards {
      &__content {
        width: 20%;
      }
    }
  }
  @include breakpoint(fullhd) {
    .infos {
      .svg {
        margin: 0 5% 0 0;
      }
    }
  }
}
