.blogs {
  .card {
    padding: 35px 40px;
    @for $i from 1 through length($bg-colors-blogs) {
      &:nth-child(#{length($bg-colors-blogs)}n + #{$i}) {
        background-color: nth($bg-colors-blogs, $i);
      }
    }
    @for $i from 1 through length($btn-colors-blogs) {
      &:nth-child(#{length($btn-colors-blogs)}n + #{$i}) {
        .card__content {
          a {
            background: nth($btn-colors-blogs, $i);
          }
        }
      }
    }
    &__titulo {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  @include breakpoint(tablet) {
    &__img {
      width: 100%;
    }
    .card {
      padding: 35px 0;
    }
  }
  @include breakpoint(desktop) {
    &__img {
      position: absolute;
      right: 0;
      width: auto;
    }
    .card {
      position: relative;
      &:nth-child(even) {
        .card__titulo {
          flex-direction: row;
          justify-content: center;
          .blogs__img {
            left: 0;
          }
          h1 {
            transform: translateX(75%);
          }
        }
      }
      &__titulo {
        flex-direction: row-reverse;
        justify-content: flex-end;
        position: initial;
        h1 {
          padding: 0;
          margin: 0;
          max-width: 250px;
          position: relative;
        }
      }
    }
  }
  @include breakpoint(fullhd) {
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__titulo {
        max-width: 1600px;
        width: 100%;
        position: relative;
        h1 {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
