#header {
  height: $header;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: $color-0;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.1s linear;
  &:after {
    content: "";
    position: fixed;
    top: $header;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0));
  }
  > input {
    display: none;
  }
  > label[for="burguer-menu"] {
    height: 100%;
    width: 60px;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    span {
      display: block;
      width: 28px;
      height: 3px;
      position: relative;
      background: $white;
      transition: all 0.3s ease-in-out;
      &:before,
      &:after {
        position: absolute;
        content: "";
        display: block;
        width: 28px;
        height: 3px;
        background: $white;
        transition: top 0.15s ease-in-out 0.12s, transform 0.12s ease-in-out;
      }
      &:before {
        top: -10px;
      }
      &:after {
        top: 10px;
        right: 0;
      }
      &:last-child {
        margin: 0;
      }
    }
  }
  .containerHeader {
    width: 100%;
    height: 100%;
    flex-direction: row;
    .logo {
      display: flex;
      width: 30%;
      height: 100%;
      align-items: center;
      position: relative;
      z-index: 10;
      padding-left: 5%;
      a {
        height: 100%;
        padding: 5px 0;
        svg {
          height: 100%;
          width: 100%;
        }
      }
    }
    nav {
      position: fixed;
      height: calc(100vh - #{$header});
      width: 100vw;
      left: 0;
      top: $header;
      visibility: hidden;
      .menu {
        height: 100%;
        width: 80%;
        right: -100%;
        position: fixed;
        // background: $color-0;
        transition: all 0.5s ease-in-out;
        .bg_mobile {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: -1;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top center;
          }
        }
        ul.menu-list {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          list-style: none;
          padding: 0;
          > li {
            &.current-menu-iten,
            &.current_page_item {
              > a {
                color: $color-1;
              }
            }
            a {
              box-sizing: border-box;
              width: 100%;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              padding-right: 30px;
              z-index: 1;
              opacity: 0;
              @include texto(14px, $white);
              font-weight: 700;
              margin-bottom: 15px;
              text-transform: uppercase;
            }
          }
        }
        .header__mobile {
          display: flex;
          flex-direction: column;
          li {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0 0 10px 30px;
            .svg {
              width: 15px;
              height: 15px;
              margin-right: 5px;
              * {
                fill: $white;
              }
            }
            a {
              @include texto(13px, $white);
            }
          }
        }
      }
    }
  }
  input#burguer-menu:checked ~ label[for="burguer-menu"] span {
    background: rgba(255, 255, 255, 0);
    &:before {
      top: 0;
      transform: rotate(-45deg);
      transition: all 0.12s ease-in-out, transform 0.15s ease-in-out 0.12s, background 0.1s ease-in-out 0.12s;
    }
    &:after {
      top: 0;
      width: 28px;
      transform: rotate(45deg);
      transition: all 0.12s ease-in-out, transform 0.15s ease-in-out 0.12s, background 0.1s ease-in-out 0.12s;
    }
  }
  input#burguer-menu:checked ~ .containerHeader > nav {
    visibility: visible;
    .bg {
      opacity: 1;
      visibility: visible;
    }
    .menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      right: 0;
      overflow: scroll;
      @for $i from 1 through 20 {
        a:nth-child(#{$i}) {
          animation: entrada-esquerda-menu 0.3s ease-in-out #{$i * 0.1}s forwards;
        }
      }
    }
  }
  @include breakpoint(tablet) {
    background: transparent;
    justify-content: flex-end;
    height: 150px;
    top: 0;
    &::after {
      display: none;
    }
    > label[for="burguer-menu"] {
      display: none;
    }
    .containerHeader {
      left: calc(50% - 360px);
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .logo {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
        transition: all 0.2s ease-in-out;
        width: auto;
        a {
          display: flex;
          align-items: center;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 65%;
          svg {
            transition: $ease-0;
            width: auto;
          }
        }
      }
      nav {
        position: relative;
        visibility: visible;
        height: 100%;
        opacity: 1;
        left: 0;
        top: 0;
        transition: all 0.6s ease;
        padding: 0;
        .menu {
          margin-left: 3%;
          background: rgba(255, 255, 255, 0);
          display: flex;
          align-items: center;
          position: static;
          padding: 0;
          width: auto;
          transition: all 0.6s ease;
          &:before {
            display: none;
          }
          .bg_mobile {
            display: none;
          }
          .menu-menu-1-container {
            width: 100%;
          }
          .header__mobile {
            display: none;
          }
          ul.menu-list {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
            margin-top: 0;
            height: 100%;
            li {
              border: none;
              height: 50%;
              &.current-menu-iten,
              &.current_page_item,
              &.current_page_ancestor {
                > a {
                  color: $color-1;
                }
              }
              a[aria-current="page"] {
                color: $color-1;
              }
              &:first-child {
                a {
                  padding-left: 0;
                }
              }
              &:last-child {
                a {
                  padding-right: 0;
                }
              }
              a {
                min-width: 60px;
                opacity: 1;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                transition: $ease-0;
                position: relative;
                padding: 0 10px;
                margin: 0;
                z-index: 1;
                @include titulo(10px, $white);
                text-decoration: none;
                &:hover {
                  transition: $ease-0;
                  color: $color-1;
                }
              }
            }
          }
          .social-menu {
            display: none;
          }
        }
      }
    }
    &.on {
      height: 60px;
      z-index: 3;
      top: 0;
      background: $color-0;
      &:after {
        display: block;
        top: 60px;
        transition: all 0.1s linear;
        position: absolute;
      }
      .logo {
        height: 100%;
        width: auto;
        border-color: transparent;
        a {
          svg {
            height: 46px;
            width: auto;
          }
        }
      }
    }
  }
  @include breakpoint(desktop) {
    .containerHeader {
      left: calc(50% - 480px);
      nav {
        .menu {
          ul.menu-list {
            li {
              a {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  @include breakpoint(hd) {
    .containerHeader {
      left: calc(50% - 570px);
    }
  }
  @include breakpoint(fullhd) {
    .containerHeader {
      left: calc(50% - 800px);
    }
  }
}

@keyframes entrada-esquerda-menu {
  from {
    text-indent: -50px;
  }
  to {
    opacity: 1;
    text-indent: 0;
  }
}
