.mapa {
  .acf-map {
    width: 100%;
    iframe {
      width: 100%;
    }
    img {
      max-width: inherit !important;
    }
  }
  @media screen and (min-width: $desktop) {
    .acf-map {
    }
  }
}

.content__mapa {
  background: $color-1;
  @media screen and (min-width: $desktop) {
    padding-top: 50px;
  }
}
